* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border: 3px solid black;
}

header {
  height: 300px;
  background: #8CACBC;
  margin: 10px;
}

.left-box {
  width: 25%;
  height: 400px;
  background: #8B1485;
}

.center-box {
  width: 50%;
  padding: 0 10px;
}

main {
  background: #aaa;
  height: 300px;
}

.right-box {
  width: 25%;
  background: #aaa;
}

.right {
  background: #ccc;
  height: 200px;
}

.right:nth-child(1) {
  background: orange;
  margin-bottom: 10px;
}

.right:nth-child(2) {
  background: gold;
  margin-bottom: 10px;
}

.right:nth-child(3) {
  background: lightgreen;
  margin-bottom: 10px;
}

/* utility */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}
/* /utility */

footer {
  margin-top: 15px;
  height: 60px;
  background: #FFF000;
  margin-bottom: 10px;
}
