* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background-image.png);
  background-size: contain;
}

.container {
  width: 800px;
  margin: 0 auto;
  /* border: 3px solid black; */
}

header {
  height: 300px;
  background-image: url(../img/head-img.png);
  background-size: cover;
  border: 10px solid white;
  margin-top: 20px;
}

img {
  position: absolute;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
 position: relative;
 height: auto;
  /* border: 4px solid black; */
}

.navbar {
  height: 40px;
  background: #555;
  margin-bottom: 10px;
}

.left-box {
  width: calc(25% - 30px);
  height: 400px;
  background: #fff;
  margin-right: 30px;
  border-radius: 5px;
}

ul {
  text-align: center;
  padding-top: 10px;
}

li {
  font-size: 10px;
  display: inline-block;
  font-weight: bolder;
  padding: 5px;
  color: white;
}

.center-box {
  width: 50%;
  padding: 0 10px;
  /* border: 4px solid black; */
}

.content {
  /* border: 4px solid green; */
}

main {
  background: #fff;
  height: 300px;
}

.right-box {
  width: calc(25% - 30px);
  margin-left: 30px;
  /* background: #fff; */
}

.right {
  background: #fff;
  height: 300px;
  margin-bottom: 10px;
}

/* .right:nth-child(1) {
} */

/* .right:nth-child(2) {
} */

/* .right:nth-child(3) {
} */

/* utility */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}
/* /utility */

footer {
  margin-top: 15px;
  height: 60px;
  background: #FFF000;
}
